.three-divs-container {
  position: relative;
  display: flex;
  min-height: 100%;
}

.left-section {
  /* position: absolute; */
  width: 28%;
  /* border: 1px solid yellow; */
}
.middle-section {
  /* position: absolute; */
  width: 40%;
  margin: 0px 4%;
  border: 1px solid yellow;
}
.right-section {
  width: 28%;
}

.fixed-div {
  position: fixed;
  width: 330px;
  height: auto;
  border: 1px solid red;
}

/* Media queries */
@media (max-width: 980px) {
  .right-section {
    display: none;
  }
  .middle-section {
    width: 600px;
  }
}
