.three-divs-container {
  display: flex;
  min-height: 100%;
}

.left-section {
  width: 30%;
}
.middle-section {
  width: 40%;
  border: 1px solid yellow;
  padding: 0 5px;
  margin: 0px 30px;
}
.right-section {
  width: 30%;
}

.fixed-div {
  position: fixed;
  width: 25%;
  height: 80%;
  border: 1px solid red;
}

/* Media queries */
@media (max-width: 980px) {
  .right-section {
    display: none;
  }
  .middle-section {
    width: 70%;
  }
}

/* Popup related styles */
.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  /* padding: 0 20px; */
  z-index: 20;
  overflow-y: scroll;
}

.modal-inner {
  background-color: #fff;
  border-radius: 3px;
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
}

/* Placed on the body while a modal is open to prevent scrolling. */
#open {
  position: fixed;
  top: 80px;
  left: 10px;
}

#open:hover {
  background-color: green;
}
