.three-divs-container {
  position: relative;
  display: flex;
  min-height: 100%;
}

.left-section {
  width: 30%;
}
.middle-section {
  width: 40%;
  /* border: 1px solid yellow; */
  margin: 0px 30px;
}
.right-section {
  width: 30%;
}

.fixed-div {
  position: fixed;
  width: 25%;
  height: auto;
  border: 1px solid red;
}

/* Media queries */
@media (max-width: 980px) {
  .right-section {
    display: none;
  }
  .middle-section {
    width: 70%;
  }
}
