.post-textarea {
  width: 95%;
}
.textarea {
  width: 99.6%;
  height: 62px;
  padding: 10px;
  vertical-align: top;
  font-size: 15px;
  outline: 0px;
  resize: vertical;
  font-family: helvetica, arial, sans-serif;
  border: 2px solid var(--site-color);
  margin-bottom: -2px;
  border-radius: 3px;
}
.textarea:focus {
  outline: 0px;
}

.post-actions-div {
  background: var(--site-color);
  color: #fff;
}

.post-actions-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 25px;
  align-items: center;
  border-radius: 0px 0px 3px 3px;
  padding: 5px 10px;
}

.post-privacy-selection {
  outline: none;
  border: 0;
  padding: 2px;
  border-radius: 2px;
}
.post-button {
  background: #fff;
  padding: 3px 10px;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  margin-left: 10px;
}

.item {
  background: #fff;
  border: 1px solid #cccccc;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-top: 12px;
  border-radius: 3px;
}

/* Greet div related - starts */
.greet-div {
  height: 120px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.greet {
  font-size: 19px;
  font-weight: bold;
  zoom: 1;
  padding-bottom: 7px;
}

.greet-name {
  font-size: 20px;
  font-weight: bold;
  zoom: 1;
  color: var(--site-color);
}
/* Greet div related - ends */

/* posts related - starts */
.all-posts-container {
  margin-bottom: 20em;
}

.post-n-user-details-container {
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}
.post-dp-div {
  height: 100%;
}
.post-user-dp {
  height: 45px;
  width: 45px;
  border-radius: 2px;
  cursor: pointer;
}

.postInfo-n-user-details-div {
  margin-left: 6px;
}
.post-details-div {
  font-weight: bold;
  font-size: 17px;
}

.post-details-div a {
  color: var(--site-color);
}

.post-details-div a:hover {
  color: var(--site-color);
  text-decoration: underline;
  cursor: pointer;
}

.post-timestamp-div {
  font-size: 13px;
  color: #505050;
}
.post-description-div {
  height: auto;
  padding: 12px 10px;
  border-top: 1px solid #ccc;
}
.post-description {
  word-wrap: break-word;
  font-size: 15px;
  font-weight: normal;
  zoom: 1;
}
.post-picture-div {
  width: 100%;
}

.post-picture-div img {
  max-width: 100%;
  cursor: pointer;
}
