.item {
  background: #fff;
  border: 1px solid #cccccc;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-top: 12px;
  border-radius: 3px;
}

/* Context preloader animation - starts */
.animationLoading {
  background: #fff;
  border: 1px solid;
  border-color: #e5e6e9;
  border-radius: 3px;
  display: block;
  height: 250px;
  padding: 10px;
}
@keyframes animate {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.animationLoadingContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.animationLoadingRightContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.animationLoadingUser,
.animationLoadingUsername,
.animationLoadingTimestamp,
.animationLoadingDivider,
.animationLoadingContent,
.animationLoadingReactionsCounter,
.animationLoadingReaction {
  position: relative;
  background-color: #ccc;
  height: 6px;
  animation-name: animate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(8%, #eeeeee),
    color-stop(18%, #dddddd),
    color-stop(33%, #eeeeee)
  );
  background: -webkit-linear-gradient(
    left,
    #eeeeee 8%,
    #dddddd 18%,
    #eeeeee 33%
  );
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  -webkit-background-size: 800px 104px;
  -moz-background-size: 800px 104px;
  -ms-background-size: 800px 104px;
  background-size: 800px 104px;
}

.animationLoadingUser {
  height: 50px;
  width: 50px;
}

.animationLoadingUsername,
.animationLoadingTimestamp {
  left: 10px;
  height: 18px;
}

.animationLoadingUsername {
  width: 50%;
}

.animationLoadingTimestamp {
  width: 30%;
}

.animationLoadingDivider {
  left: 0px;
  top: 10px;
  width: 100%;
}

.animationLoadingContent {
  left: 0px;
  top: 20px;
  height: 100px;
}

.animationLoadingReactionsCounter {
  left: 0px;
  top: 30px;
  height: 20px;
}

.animationLoadingReactionsDiv {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.animationLoadingReaction {
  flex: 1;
  padding: 10px;
  margin: 10px;
}
/* Context preloader animation - ends */

/* Greet div related - starts */
.greet-div {
  height: 120px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.greet {
  font-size: 19px;
  font-weight: bold;
  zoom: 1;
  padding-bottom: 7px;
}

.greet-name {
  font-size: 20px;
  font-weight: bold;
  zoom: 1;
  color: var(--site-color);
}
/* Greet div related - ends */

/* posts related - starts */
.all-posts-container {
  margin-bottom: 20em;
}

.post-n-user-details-container {
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}
.post-dp-div {
  height: 100%;
}
.post-user-dp {
  height: 45px;
  width: 45px;
  border-radius: 2px;
  cursor: pointer;
}

.postInfo-n-user-details-div,
.post-comment-info-n-user-details-div {
  width: 100%;
  margin-left: 6px;
}
.post-details-div,
.post-comment-user-div {
  font-weight: bold;
  font-size: 17px;
  position: relative;
}

.post-details-div a,
.post-comment-user-div a {
  color: var(--site-color);
}

.post-details-div a:hover,
.post-comment-user-div a:hover {
  color: var(--site-color);
  text-decoration: underline;
  cursor: pointer;
}

.post-vr-dots,
.post-comment-vr-dots {
  position: absolute;
  right: 0;
  cursor: pointer;
}
.post-vr-dots:before,
.post-comment-vr-dots:before {
  content: "\2807";
  font-size: 25px;
  color: #999;
}
.post-comment-vr-dots:before {
  font-size: 20px;
}

.post-more-options-ul,
.post-comment-more-options-ul {
  position: absolute;
  right: 0;
  width: 150px;
  background: #fff;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  font-weight: normal;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  z-index: 2;
  display: none;
}

.post-more-options-ul li,
.post-comment-more-options-ul li {
  padding: 3px 10px;
  border-bottom: 1px solid #ccc;
}

.post-more-options-ul li:last-child,
.post-comment-more-options-ul li:last-child {
  border-bottom: none;
}

.post-more-options-ul li:hover,
.post-comment-more-options-ul li:hover {
  background: var(--site-color);
  color: #fff;
  cursor: pointer;
}

.post-timestamp-div {
  font-size: 13px;
  color: #505050;
}
.post-description-div {
  height: auto;
  padding: 12px 10px;
  border-top: 1px solid #ccc;
}
.pad-12-10 {
  padding: 12px 10px;
}
.border-2px {
  border-width: 2px;
}
.border-3px {
  border-width: 3px;
}

.double {
  border-style: double;
}
.solid {
  border-style: solid;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.post-description {
  word-wrap: break-word;
  font-size: 15px;
  font-weight: normal;
  zoom: 1;
}
.post-picture-div {
  position: relative;
  width: 100%;
}

.post-picture-div img {
  max-width: 100%;
  cursor: pointer;
}

.absolute-bottom-right {
  position: absolute;
  bottom: 10px;
  right: 5px;
  /* width: 50px; */
  padding: 5px;
  background: #fff;
  color: #003d99;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
}

.cornerFoldStyle {
  position: relative;
  width: 91%;
  /* padding: 1em 1.5em; */
  padding: 20px 22px;
  color: #fff;
  background: #53a3b4;
  word-break: break-word;
  overflow: hidden;
}

.cornerFold:before,
.cornerFold_topRight_bottomLeft:after,
.cornerFold_topLeft_bottomRight:after,
.cornerFoldAndCut_topRightAndBottomLeft:after,
.cornerFoldAndCut_topLeftAndBottomRight:after {
  content: "";
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
}

/* Separaters - starts */
.cornerFold_topRight:before,
.cornerFoldAndCut_topRight:before,
.cornerFold_topRight_bottomLeft:before,
.cornerFoldAndCut_topRightAndBottomLeft:before {
  border-color: #fff #fff transparent transparent;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),
    -2px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -2px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -2px 1px 1px rgba(0, 0, 0, 0.2);
}

.cornerFold_bottomRight:before,
.cornerFoldAndCut_bottomRight:before,
.cornerFold_topLeft_bottomRight:before,
.cornerFoldAndCut_topLeftAndBottomRight:before {
  border-color: transparent #fff transparent #fff;
  bottom: 0;
  right: 0;
  border-width: 16px 16px 0 0;
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3),
    -2px -2px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3),
    -2px -2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), -2px -2px 1px rgba(0, 0, 0, 0.2);
}

.cornerFold_bottomLeft:before,
.cornerFoldAndCut_bottomLeft:before,
.cornerFold_topRight_bottomLeft:after,
.cornerFoldAndCut_topRightAndBottomLeft:after {
  border-color: transparent #fff transparent #fff;
  bottom: 0;
  left: 0;
  border-width: 16px 0 0 16px;
  -webkit-box-shadow: 2px 0px 1px rgba(0, 0, 0, 0.3),
    1px -2px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 0px 1px rgba(0, 0, 0, 0.3),
    1px -2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 0px 1px rgba(0, 0, 0, 0.3), 1px -2px 1px rgba(0, 0, 0, 0.2);
}

.cornerFold_topLeft:before,
.cornerFoldAndCut_topLeft:before,
.cornerFold_topLeft_bottomRight:after,
.cornerFoldAndCut_topLeftAndBottomRight:after {
  border-color: #fff transparent #fff transparent;
  top: 0;
  left: 0;
  border-width: 16px 16px 0 0;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3),
    1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3),
    1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.remove_cornerShadow:before,
.remove_cornerShadow:after {
  box-shadow: none;
}

.post-actions-counter-container {
  height: 30px;
  border-top: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}

.reactions-couter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.reactions-count {
  margin: 0px 5px;
}

.reaction-emoji {
  margin-top: 3px;
}

.couter-item {
  flex: 1;
}

.cmnts-and-shares-counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.cmnts-and-shares-counter span {
  flex: 1;
  text-align: end;
}

.post-actions-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ccc;
}
.action-item {
  flex: 1;
  padding: 8px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  border-right: 1px solid #ccc;
  cursor: pointer;
}
.action-item:last-child {
  border-right: 1px solid #ccc;
}
.comment-input-container {
  border-top: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.comment-box {
  width: 100%;
  padding: 7px;
  font-size: 15px;
}
.post-comments-container {
  border-top: 1px solid #ccc;
}
.post-individual-comment-container {
  display: flex;
  flex-direction: row;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  /* align-items: center; */
}

.post-comment-user-dp {
  height: 35px;
  width: 35px;
  border-radius: 2px;
  cursor: pointer;
}

.post-comment {
  font-size: 14px;
  color: #000;
}

.post-individual-comment-container:last-child {
  border-bottom: none;
}

.like-button {
  position: relative;
  /* display: flex; */
}

.reactions-holder {
  flex-direction: row;
  position: absolute;
  left: 0;
  top: -60px;
  background: #fff;
  padding: 10px;
  border-radius: 40px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 4px #888;
  display: none;
  z-index: 2;
}

.reactions-holder-inner {
  display: flex;
}

/* Image viewer popup related */
.middle_page_section_layerOneModalContainer {
  background-color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 50;
  /* max-height: 100%; */
  /* border: 2px solid yellow; */
  display: none;
}
.middle_page_section_layerOneModalInner {
  height: 100vh;
  width: 100vw;
}
.image-viewer-holder {
  display: none;
}
.image-viewer-overlay {
  position: relative;
  height: 100vh;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 2px;
  color: #333333;
  /* padding: 10px 0px; */
  font-size: 14px;
  /* margin: 3% auto 3% auto; */
  z-index: 55;
  /* border: 1px solid red; */
}

.imgv_center_holder {
  height: 90%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: auto; */
  margin: 2% auto;
  text-align: center;
  /* border: 1px solid red; */
}

.theatre_img {
  max-height: 100%;
  max-width: 100%;
}

.img_viewer_right {
  position: fixed;
  top: 41%;
  right: 0;
  width: 60px;
  cursor: pointer;
  margin-right: 35px;
}

.img_viewer_left {
  position: fixed;
  top: 41%;
  left: 0;
  width: 60px;
  cursor: pointer;
  margin-left: 18px;
}
