.cover-photo-container,
.activities-container {
  background: #fff;
  border: 1px solid #cccccc;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  margin: auto;
  border-radius: 3px;
}

.cover-photo-container {
  height: 250px;
}

.cover-photo-container img {
  height: 100%;
  width: 100%;
  /* object-fit: cover; */
}
.activities-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 8px;
  margin-bottom: 12px;
}
.activityButton {
  padding: 8px 10px;
  background: var(--site-color);
  color: #fff;
  border-radius: 3px;
  margin-left: 20px;
  font-weight: bold;
}

.arrow {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  margin-left: 5px;
  margin-top: -5px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.friends-actions {
  color: white;
  border: none;
  cursor: pointer;
  background-color: var(--site-color);
}

.friends-actions:hover,
.friends-actions:focus {
  background-color: #2980b9;
  background-color: var(--site-color);
}

.dropdown-action-items-container {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 130px;
  background-color: #fff;
  z-index: 8;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-box-shadow: -2px 4px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 4px 14px 0px rgba(0, 0, 0, 0.75);
}

.dropdown-action-items-container a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.action-items-dropdown {
  position: relative;
}

.dropdown-action-items-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 13px;
  font-weight: normal;
}
.dropdown-action-items-container ul li {
  padding: 8px 12px;
  border-bottom: 1px solid #ccc;
}

.dropdown-action-items-container ul li:last-child {
  border-bottom: none;
}

.dropdown-action-items-container ul li:hover {
  background-color: rgba(0, 0, 0, 0.14);
  cursor: pointer;
}
.animation-height-240 {
  height: 240px;
}
