/* Left section Styles */
.auth-user-dps-lg-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 140px;
  /* width: 100%; */
  /* border: 1px solid blue; */
}
.auth-user-dp-lg {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 1px solid #ccc;
}

.auth-user-dp-primary {
  z-index: 5;
}
.auth-user-dp-secondary {
  margin-left: -20px;
}
.auth-user-fullName-lg {
  width: 100%;
  text-align: center;
  margin: 10px auto;
  /* border: 1px solid red; */
}
.auth-user-fullName-container a {
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ul.form {
  position: relative;
  background: #fff;
  width: 80%;
  margin: auto;
  padding: 0;
  list-style: none;
  overflow: hidden;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  border: 1px solid #ccc;
  border-bottom: none;

  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.form li a {
  width: 100%;
  padding-left: 20px;
  height: 40px;
  line-height: 40px;
  display: block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  color: #686868;
  font-weight: bold;
}

.form li {
  border-bottom: 1px solid #ccc;
}

.form li a:hover {
  background: var(--site-color);
  color: #fff;
}

.form li a.homee {
  border-left: 5px solid #00cc00;
}
.form li a.profile {
  border-left: 5px solid #ff3399;
}

.form li a.messages {
  border-left: 5px solid #fecf54;
}

.form li a.settings {
  border-left: 5px solid #cf2130;
}

.form li a.advanced {
  border-left: 5px solid #f2f2f2;
}

.form li a.logout {
  border-left: 5px solid #4d79ff;
}

.form li:first-child a:hover,
.form li:first-child a {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.form li:last-child a:hover,
.form li:last-child a {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.form li a:hover i {
  color: #ea4f35;
}

.form i {
  margin-right: 15px;
}

.form em {
  font-size: 11px;
  background: #ea4f35;
  padding: 5px 7px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-style: normal;
  color: #fff;
  margin-top: 9.4px;
  margin-right: 50px;
  line-height: 10px;
  height: 10px;
  float: right;
}

.form li.selected a {
  background: #fff;
  color: #000;
}
