/* side-nav-bar styles */
.side-nav-bar {
  height: 100%;
  background: var(--site-color);
  color: white;
  width: 50%;
  max-width: 200px;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.4s;
}

.side-nav-bar.open {
  transform: translateX(0);
}

.side-nav-bar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.side-nav-bar ul li {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #fff;
}

.side-nav-bar ul li a {
  display: block;
  color: white;
}

.side-nav-bar ul li:hover {
  color: yellow;
  cursor: pointer;
}
