#right-fixed-div {
  border: none;
  border: 1px solid #cccccc;
  background: #fff;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.friend-suggessions-container {
  padding: 10px;
  /* border: 1px solid red; */
}
.friend-suggessions-title {
  font-size: 16px;
  font-weight: bold;
  margin: 6px 0px;
}
.friend-suggession {
  position: relative;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid #ccc;
  border-bottom: none;
}

.friend-suggession:last-child {
  border-bottom: 2px solid #ccc;
}
.friend-suggession-dps {
  height: 55px;
  border-radius: 100px;
}
.friend-suggession-primary-dp {
  position: absolute;
  top: 5px;
  left: 10px;
  z-index: 2;
}
.friend-suggession-secondary-dp {
  position: absolute;
  top: 5px;
  left: 54px;
  z-index: 1;
}
.friend-suggession-user-details-div {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 120px;
}
.friend-suggession-user-name {
  font-size: 16px;
  font-weight: bold;
}
.suggession-request-friendshp-btn {
  font-size: 13px;
  font-weight: bold;
  border: 0;
  outline: none;
  background: var(--site-color);
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}
