.holderrr {
  width: 70%;
  margin: 15px auto;
}
.editable-div {
  position: relative;
  border: 2px solid #ccc;
  min-height: 100px;
  padding: 5px;
}
.whole-mentions-container {
  background: #fff;
  -webkit-box-shadow: -2px 4px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 4px 14px 0px rgba(0, 0, 0, 0.75);
  z-index: 18;
}
.whole-emojis-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
  border-radius: 5px;
}
.single-emoji {
  width: 25px;
  padding: 3px;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
}
.single-emoji:hover {
  border: 1px solid #999;
}
.individual-mention-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 5px;
}
.individual-mention-user-img {
  height: 30px;
  width: 30px;
}

.active,
.individual-mention-container:hover {
  background-color: blue;
  color: #fdf;
}

.mentioned-user-container {
  display: inline-flex;
  /* align-items: center; */
  background-color: cadetblue;
  padding: 0px 5px;
  color: #fff;
  font-weight: bold;
  border-radius: 3px;
  margin: 2px;
  border: 1px solid #999;
}
/* .mentionSymbol {
  display: none;
} */
.mentioned-user-photo {
  height: 17px;
  margin: auto 2px;
  border-radius: 100px;
}
.primary-user {
  z-index: 2;
}
.secondary-user {
  margin-left: -8px;
}
.mentioned-user-username {
  color: blue;
}
