.holderrr {
  width: 50%;
  margin: auto;
}
.editable-div {
  border: 2px solid #ccc;
  min-height: 100px;
}

.individual-mention-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  border: 1px solid #ccc;
  padding: 5px;
}
.individual-mention-user-img {
  height: 30px;
  width: 30px;
}
.individual-mention-container:hover {
  background-color: blue;
  color: #fdf;
}

.active {
  background-color: blue;
  color: #fdf;
}
.mentioned-user-container {
  display: inline-flex;
  align-items: center;
  background-color: cadetblue;
  padding: 3px;
  color: #fff;
  font-weight: bold;
  border-radius: 3px;
  margin: 2px;
}
/* .mentionSymbol {
  display: none;
} */
.mentioned-user-photo {
  height: 22px;
  margin: auto 2px;
  border-radius: 100px;
}
