:root {
  --site-color: #003d99;
  --global-bg-color: #d3d3d3;
  --max-width: 1190px;
}
* {
  margin: 0px;
  padding: 0px;
  /* box-sizing: border-box; */
}

body {
  font-family: helvetica, arial, sans-serif;
  background: var(--global-bg-color);
  height: 100%;
  font-size: 14px;
  line-height: 20px;
  overflow-y: scroll;
}

textarea {
  font-family: helvetica, arial, sans-serif;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
input,
textarea {
  border: none;
  outline: 0px;
}

/* Common styles */
.common-container {
  max-width: var(--max-width);
  margin: auto;
  margin-top: 50px;
}
