.global-container {
  display: flex;
  flex-direction: row-reverse;
}

.left-section-container,
.right-section-container {
  width: 24%;
  position: relative;
}
.middle-section-container {
  width: 50%;
  height: 100vh;
  margin: 0 2%;
  /* border: 1px solid black; */
}
.fixed-section {
  position: fixed;
  /* border: 1px solid #cccccc; */
  width: 20%;
  height: 100vh;
  /* background: #fff; */
  /* box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1); */
  border-radius: 3px;
  z-index: 6;
}

.single-item,
.contextPreloader-item {
  background: #fff;
  border: 1px solid #cccccc;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-top: 12px;
  border-radius: 3px;
  /* padding: 10px; */
}

.contextPreloader-item {
  padding: 10px;
}

@media screen and (max-width: 980px) {
  #right-section-container {
    display: none;
  }
  #middle-section-container {
    width: 64%;
  }
  #left-section-container {
    width: 36%;
  }
  ul.form {
    width: 100%;
  }
}

@media screen and (min-width: 980px) {
  #right-section-container {
    display: block;
  }
  #middle-section-container {
    width: 50%;
  }
  #left-section-container,
  #right-section-container {
    width: 28%;
  }
}
